.container {
  margin-top: 50px;
}
.counter .title {
    color: #dd7700;
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.counter .sq {
    color: #dd7700;
    display: inline-block;
    text-align: center;
}
.counter .sq .bord {
    text-align: center;
    border: 4px solid #dd7700;
    padding: 12px 15px;
    margin-right: 18px;
    text-indent: 0px;
    font-family: 'Helvetica';
    font-size: 22px;
    font-size: 2.2rem;
    margin-bottom: 5px;
    width: 75px;
}
.counter .sq span {
    clear: both;
    display: block;
    text-indent: -15px;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Helvetica";
}
.well {
  text-align: center;
}