/* HTML, contains background */
html {
    height: 100%;
    background-color: #000000;
    background-image: url('/mmo/assets/sm64js-background.png');
    background-size: 14.3%;
    background-repeat: repeat;
}

/* Mario Fonts */
@font-face {
    font-family: "SuperMario64Logo";
    src: url("/mmo/assets/SuperMario256.ttf");
}

@font-face {
    font-family: "TextboxFont";
    src: url("/mmo/assets/mario-64-textbox-themh.ttf");
}

.mario-font{
  font-family: "SuperMario64Logo";
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #e3aa63;
  text-shadow: 0px 4px #b98a50, 2px 3px #b98a50, -3px 3px #b98a50, -3px -1px #b98a50;
}

body {
    color: #fff;
    font-family: "TextboxFont";
    letter-spacing: -0.2px;
    text-align: center;
}

#select {
    font-family: 'TextboxFont';
}

.center {
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    margin: auto;
    padding: 10px;
}

#signboxBackground {
    padding: 14px;
    background-image: url("/mmo/assets/yellow-background.png");
    background-size: 100% 100%;
    border: none;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
}
#optionsBackground {
    padding: 14px;
    background-image: url("/mmo/assets/blue-background.png");
    background-size: 100% 100%;
    border: none;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
}
#customizeBackground {
    padding: 14px;
    background-image: url("/mmo/assets/pink-background.png");
    background-size: 100% 100%;
    border: none;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
}
#controlsBackground {
    padding: 14px;
    background-image: url("/mmo/assets/green-background.png");
    background-size: 100% 100%;
    border: none;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
}

#keyboardControlsWindow {
    margin-left: -300px;
}

#gamepadControlsWindow {
    margin-left: 300px;
    margin-top: -350px;
}

.siteCenter{
    justify-content: center;
}

/* Top menu, header, nav */
header {
    width: 100%;
}
nav {
    margin-top: 2.3%;
    font-size: 120%;
    color: hsla(0,0%,100%,.5);
}
header, nav, a {
    color: hsla(0, 0%, 100%, 0.69);
    text-decoration: none;
    font-size: 140%;
    margin: 0.2em;
}
nav a:hover, a:focus {
    border-bottom: 0.15em solid hsla(0,0%,100%,.25);
    padding-bottom: 0.2em;
}
/* Font size fix for the nav bar */
nav>a {
    font-size: 30px;
}

/* SM64JS Logo - Title */
img#title {
    animation: sm64title 2.2s linear;
}

/* Buttons */
input {
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
}
input[type=text] {
    margin-top: 8px;
    width: 800px;
    height: 2rem;
    font-family: 'TextboxFont';
    font-size: 16px;
}

.romFileText {
    background-color: rgba(0,0,0,.3411764705882353);
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.loadRomButton {
    height: 2em;
    width: 4em;
}

button {
    height: 40px;
}

.stone-button {
    background-image: url("/mmo/assets/btn-stone-edit.png");
    background-size: 100% 100%;
    border: none;
    opacity: 1;
    font-weight: 348;
    font-family: "TextboxFont";
    font-size: 140%;
    background-color: gray;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em
}
.green-button {
    background-image: url("/mmo/assets/btn-green-edit.png");
    background-size: 100% 100%;
    border: none;
    font-family: "TextboxFont";
    font-size: 140%;
    color: white;
    background-color: green;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
.red-button {
    background-image: url("/mmo/assets/btn-red-edit.png");
    background-size: 100% 100%;
    border: none;
    font-family: "TextboxFont";
    font-size: 140%;
    color: white;
    background-color: red;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em
}
.blue-button {
    background-image: url("/mmo/assets/btn-blue-edit.png");
    background-size: 100% 100%;
    border: none;
    font-family: "TextboxFont";
    font-size: 140%;
    color: white;
    background-color: blue;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em
}

/*Fix for the <a> button */
a.pink-button {
    padding-top: 0.4em;
    padding-bottom: 0.42em;
}
/* Fix some buttons so they look nicer / change their padding */
.fixButtonPadding {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
a.pink-button:focus {
    padding-top: 0.4em;
    padding-bottom: 0.42em;
    border-bottom: 0;
}
.pink-button {
    background-image: url("/mmo/assets/btn-pink-edit.png");
    background-size: 100% 100%;
    border: none;
    font-family: "TextboxFont";
    font-size: 140%;
    color: white;
    background-color: purple;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em
}
.yellow-button {
    background-image: url("/mmo/assets/btn-yellow-edit.png");
    background-size: 100% 100%;
    border: none;
    font-family: "TextboxFont";
    font-size: 140%;
    color: white;
    background-color: yellow;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.3215686274509804) 2px 2px 1px;
    cursor: pointer;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em
}

/* Buttons used for switching menus */
.boxchange {
    height: 60px;
    bottom: 600px;
}

/* Main elements */
main {
    margin-top: 4%;
}

h4 {
    font-size: 2em;
    font-weight: normal;
}

.removeVerticalMargins {
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    font-size: 1.2em;
    font-weight: normal;
}

h6.description {
    font-size: 150%;
    font-weight: normal;
    background-color: rgba(0,0,0,.3411764705882353);
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.romSelectText {
    color: #ff0;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 12px;
    animation: blinking 1s linear infinite;
}

.romMessageText {
    font-size: 150%;
    font-weight: normal;
    background-color: rgba(0,0,0,.3411764705882353);
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

@keyframes blinking {
    50% { opacity: 0; }
}

@keyframes sm64title{
    0% { transform: scale(0.2, 0.3); }
    8% { transform: scale(1.4, 1.3); }
    10% { transform: scale(0.8, 1.1); }
    12% { transform: scale(1.1, 1.0); }
    14% { transform: scale(1.0, 1.0); }
    15% { transform: scale(0.8, 1.2); }
    16% { transform: scale(1.0, 1.0); }
    17% { transform: scale(0.9, 1.1); }
    18% { transform: scale(1.0, 1.0); }
    100% { transform: scale(1.0, 1.0); }
}

/* Music */
.musicTitles {
    font-size: 1.4em;
    margin-top: 0.2em;
    margin-bottom: 1.95em;
    vertical-align: middle;
    top: 1em;
    position: relative;
    width: 18em;
}

/* Canvases for rendering the game output */
#gameCanvas{
    background-image: url('/mmo/assets/canvasBorder2.png');
    background-size: 100%;
    padding: 26px;
}
#textCanvas{
    background-color: transparent;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    z-index: 10;
    padding: 26px;
}

.chatbox {
    margin-top: 10px;
    border: 0px solid transparent;
    background-color: #00000070;
    width: 640px;
    text-align: left;
    color: white;
    padding-left: 10px;
    font-style: normal;
    border-radius: 1px;
}

ul {
    list-style-type: none;
}

#chatlog {
    background-color: #eae2a7;
    width: 790px;
    height: 400px;
    overflow: scroll;
    text-align: left;
    color: black;
    font-style: normal;
    font-size: 20px;

    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    margin: auto;
    padding: 10px;
}

#rules {
    background-color: white;
    border-radius: 10px;
    border: 2px solid;
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3.4em;
    padding-bottom: 3em;
    width: 800px;
    height: 600px;
    margin: auto;
    padding: 10px;
}
#rules>p {
    margin-left: 15px;
    text-align: left;
    font-size: 25px;
}

.shunned {
    filter: brightness(50%);
    pointer-events: none;
}

#picker, #ambpicker {
    z-index: 100;
}

label {
    font-size: 1.4rem;
}

#mapSelect {
    width: 400px;
    height: 2.6rem;
    font-size: 22px;
    font-family: 'TextboxFont';
}

/* Skin customization menu */
#skinCustomizerWindow {
    background-color: white;
    background-size: 100% 100%;
    border: none;
    color: black;
    text-align: center;
    width: 450px;
    height: 470px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FFF;
}

#skinContents {
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-left: 60px;
}

#connectedMsg {
    margin-top: 0.1px;
    font-size: 30px;
}