/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    font-weight: 400;
    color: #f6fb7b;
}

.canvasContainer {
    position: relative;
    overflow: hidden;
}

#textCanvas {
    background-color: transparent; /* needed because webgl-tutoraisl.css sets canvas bg color to white */
    position: absolute;
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 10;
}

  .container {
    margin-top: 10px;
  }
  hr.solid {
      border-top: 3px solid #000000;
  }

/* Mario Fonts */

@font-face {
    font-family: "SuperMario64Logo";
    src: url("/mmo/assets/SuperMario256.ttf");
}

@font-face {
    font-family: "TextboxFont";
    src: url("/mmo/assets/mario-64-textbox-themh.ttf");
}

.mario-font{
  font-family: "SuperMario64Logo";
  letter-spacing: -2px;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #e3aa63;
  text-shadow: 0px 4px #b98a50, 2px 3px #b98a50, -3px 3px #b98a50, -3px -1px #b98a50;
}

/* Other font related stuff*/

#skinCustomizerWindow{
    font-size: 17px;
}

.popover-body{
    font-family: TextboxFont;
}

#keyboardControlsWindow .row .form-inline .form-group .col-form-label{
    color: black;
}


#keyboardControlsWindow .row .form-inline .form-group .form-control{
    font-size: 21px;
}

.h6, h6 {
    font-size: 150% !important;
    background-color: black;
    background-color: #00000057;
}

.btn{
  font-size: 25px;
}
#romFile{
  font-size: 20px;
}


/* Buttons */

.creditsbutton:hover{
    color: rgba(255, 255, 255, .5) !important;
    cursor: pointer !important;
}

#googleSigninButton:hover{
    cursor: pointer;
}

#discordSigninButton:hover{
    cursor: pointer;
}

#startbutton{
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  font-weight: 348;
  color: white;
}

.btn-primary {
    color: #fff;
    background-image: url("/mmo/assets/btn-blue-edit.png");
    background-size: 100% 100%;
    border: none;
}

.btn-primary:disabled{
  color: #00000094;
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  text-shadow: none;
}

.btn-success {
    color: #fff;
    background-image: url("/mmo/assets/btn-green-edit.png");
    background-size: 100% 100%;
    border: none;
}

.btn-success:disabled{
  color: #00000094;
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  text-shadow: none;
}

.btn-warning {
    color: #fff;
    background-image: url("/mmo/assets/btn-pink-edit.png");
    background-size: 100% 100%;
    border: none;
}

.btn-warning:disabled{
  color: #00000094;
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  text-shadow: none;
}

.btn-danger {
    color: #fff;
    background-image: url("/mmo/assets/btn-red-edit.png");
    background-size: 100% 100%;
    border: none;
}

.btn-danger:disabled{
  color: #00000094;
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  text-shadow: none;
}

.btn{
  border-radius: 1px;
  line-height: 132%;
  text-shadow: #00000052 2px 2px 1px;
}

#logoutButton{
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  font-weight: 348;
}

.btn-secondary{
  background-image: url("/mmo/assets/btn-stone-edit.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  font-weight: 348;
}

/* More stuff */

.signboxBackground{
  padding: 14px;
  background-image: url("/mmo/assets/yellow-background-wide.png");
  background-size: 100% 100%;
  border: none;
  opacity: 1;
  padding-left: 16px;
  padding-right: 16px;
}

.form-control-sm {
    font-size: 20px;
}

#discordNameBox{
    font-size: 19px;
}

/* game canvas and chat changes, probably not the best way to do this */
.chatboxPos{
margin-left: 564px;
width: 409px;
position: absolute;
}

.canvasContainerPos{
overflow: visible;
margin-left: -164px;
}

div.row ul#chatlog{
    height: 420px; /* the funny number  */
}

#textCanvas{
    margin-left: 16px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
}

#connectedMsg{
    position: absolute;
    margin-left: 36px;
    margin-top: 26px;
    padding-left: 8px;
    padding-right: 8px;
}

.form-group.mb-2{
font-size: 24px;
}

.col-form-label{
    color: white;
    text-shadow: #00000052 2px 2px 1px;
}

#mapSelect{
    margin-top: 4px;
}

#switchCustom{
    border: 0px white;
    color: white;
}

#switchCustom:active{
    border: 0px white;
    color: white;
    background-color: transparent;
}

#switchCustom:hover{
    background-color: transparent;
    color: #3866dd;
}

#switchDiscord{
    border: 0px white;
    color: white;
}

#switchDiscord:active{
    border: 0px white;
    color: white;
    background-color: transparent;
}

#switchDiscord:hover{
    background-color: transparent;
    color: #3866dd;
}

/* i tried changing the map select list font but no luck */

.form-group.mb-2 select option p{
    font-family: "TextboxFont";
}


/* this is to make the text less blurry, and postition it more centered, 
just for the look not really necessary */
body h1, h2, h3, h4, h5, h6, p, a{
    -webkit-transform: translateZ(0);
transform: translateZ(0);
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #000000;
    background-image: url('/mmo/assets/sm64jstitle-final-darker.png');
    background-size: 18%;
    background-repeat: repeat;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    font-family: "TextboxFont";
    -webkit-font-smoothing: none;
    letter-spacing: -0.2px;
}

.redtext {
    color: red;
    font-weight: bold;
}

.greentext {
    color: green;
    font-weight: bold;
}

.bluetext {
    color: blue;
    font-weight: bold;
}

.redslider {
    background: linear-gradient(to right, red 0%, red 50%, #fff 50%, #fff 100%);
    border: solid 1px red;
    border-radius: 8px;
    border-color: red;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.greenslider {
    background: linear-gradient(to right, green 0%, green 50%, #fff 50%, #fff 100%);
    border: solid 1px green;
    border-radius: 8px;
    border-color: green;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.blueslider {
    background: linear-gradient(to right, blue 0%, blue 50%, #fff 50%, #fff 100%);
    border: solid 1px blue;
    border-radius: 8px;
    border-color: blue;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=redslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: red;
        cursor: pointer;
        -webkit-appearance: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=greenslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: green;
        cursor: pointer;
        -webkit-appearance: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=blueslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: blue;
        cursor: pointer;
        -webkit-appearance: none;
    }
}



.cover-container {
    max-width: 54em;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#gameCanvas{
    background-image: url('/mmo/assets/canvasBorder2.png');
    background-size: 100%;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
}

#chatlog {
    border: 0px solid transparent;
    background-color: #eae2a7;
    width: 640px;
    height: 200px;
    overflow: scroll;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-style: normal;
    font-size: 20px;
    border-radius: 1px;
}

.chatbox {
    margin-top: 10px;
    border: 0px solid transparent;
    background-color: #00000070;
    width: 640px;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-style: normal;
    border-radius: 1px;
}

.popover {
    max-width: 1000px;
}

/*
 * Header
 */
    .masthead {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
    }

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
      font-size: 148%;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    display: block; /* No floating content on sides */
}
