/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    font-weight: 400;
    color: #f6fb7b;
}

.canvasContainer {
    position: relative;
    overflow: hidden;
}

#textCanvas {
    background-color: transparent; /* needed because webgl-tutoraisl.css sets canvas bg color to white */
    position: absolute;
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 10;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #000000;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.redtext {
    color: red;
    font-weight: bold;
}

.greentext {
    color: green;
    font-weight: bold;
}

.bluetext {
    color: blue;
    font-weight: bold;
}

.redslider {
    background: linear-gradient(to right, red 0%, red 50%, #fff 50%, #fff 100%);
    border: solid 1px red;
    border-radius: 8px;
    border-color: red;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.greenslider {
    background: linear-gradient(to right, green 0%, green 50%, #fff 50%, #fff 100%);
    border: solid 1px green;
    border-radius: 8px;
    border-color: green;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.blueslider {
    background: linear-gradient(to right, blue 0%, blue 50%, #fff 50%, #fff 100%);
    border: solid 1px blue;
    border-radius: 8px;
    border-color: blue;
    height: 7px;
    width: 130px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=redslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: red;
        cursor: pointer;
        -webkit-appearance: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=greenslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: green;
        cursor: pointer;
        -webkit-appearance: none;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[class=blueslider]::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 17px;
        background: blue;
        cursor: pointer;
        -webkit-appearance: none;
    }
}



.cover-container {
    max-width: 54em;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#chatlog {
    border: 5px solid red;
    background-color: lightblue;
    background-color: #e58888;
    width: 640px;
    height: 200px;
    overflow: scroll;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-style: normal;
    font-size: 14px;
}

.chatbox {
    margin-top: 10px;
    border: 5px solid blue;
    background-color: lightblue;
    width: 640px;
    text-align: left;
    color: black;
    padding-left: 10px;
    font-style: normal;
}

.popover {
    max-width: 1000px;
}

/*
 * Header
 */
    .masthead {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*.slider {
    -webkit-appearance: none;
    border-radius: 10px;
    border-color: transparent;
    height: 10px;
    margin-top: 10px;
    background-color: white;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 60px;
    width: 60px;*/ /* Set a specific slider handle width */
    /*height: 60px;*/ /* Slider handle height */
    /*background: #0094ff;*/ /* Green background */
/*}*/


.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
    }

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    display: block; /* No floating content on sides */
}